body{
    background-color: antiquewhite;
    color:rgb(69, 9, 9);
    
}

.paint{
    background-color: yellow;
}

#first {
    background-color: aqua;
    border: 1px solid black;
}

#second {
    background-color: blueviolet;
    border:1px solid orange;
}

#third {
    background-color: azure;
    border:1px solid orangered;
}

.red {
    color: rgb(243, 141, 8);
    background-color: grey;
    border:1px solid purple;
}

.blue {
    color: green;
    background-color: tomato;
    border: 1px solid yellow;
}
